@charset "utf-8";
html {
	background-color: #bdc3c7;
	margin: 0;
	padding: 0;
	font-family: arial;
	overflow: auto;
	text-align: left;
	direction: ltr;
	width: 100%;
	height: 100%;
	text-rendering: optimizeSpeed;
}
body {
	width: auto;
	height: 100vh;
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
}
div.menubar, div#GameBoy > div#gfx, div.window > div.button_rack, ul.menu {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

#GameBoy {
	margin-top: 6rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

#gfx {
	width: 480px;
	height: 432px;
}

#mainCanvas {
	width: 100%;
	height: 100%;
}